<div class="container">
  <div class="row">
      <div class="row">
        <% @patterns.each do |pattern| %>
          <div class="col-sm-3 ">
            <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 18rem; margin: 10px 0">
              <%= image_tag pattern["thumbnail_url"] %>
              <div class="card-body">
                <h5 class="card-title"><%= pattern["name"] %></h5>
                <p class="card-text text-secondary"><%= pattern["short_description"] %></p>
              </div>
              <div class="col-sm-12">
                <% pattern["tags"].each do |tag| %>
                    <%= link_to tag, {controller: "patterns", q: tag}, class: "badge badge-pill badge-secondary" %>   
                <% end %>
              </div>
            </div>
          </div>
      <% end %>
    </div>
      </div>
  </div>


